{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    
    <div class="signup-form">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <h2>Password reset</h2>
            <center><p class="alert alert-warning">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </center>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    </div>
{% endblock %}
