{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="signup-form">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    <h2>Create an Account</h2>
    <p class="hint-text">Sign up with your social media account or email address</p>
    <div class="social-btn text-center">
      <a href="{% provider_login_url 'facebook' method='oauth2' %}" target="blank" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
      <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
    </div>
    <div class="or-seperator"><b>or</b></div>
    {% csrf_token %}
    <div class="form-group">
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-block btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </div>
  </form>

  <div class="text-center">Already have an account? <a href="{% url 'account_login' %}">Login here</a></div>

</div>

{% endblock %}
