{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% block content %}
<style type="text/css">
    body {
        'background-color: '#d6d6d6';
    }
</style>

<div class="container mt-5">
	<div class="d-flex justify-content-center row">
		<div class="col-md-8">
			<div class="d-flex flex-column comment-section">
				<div class="bg-white p-2">
					<div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{post.user.profile.profile_pic.url}}" width="40" height="40">
						<div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{post.user.first_name}} {{post.user.last_name}}</span><span class="date text-black-50">Shared publicly - {{post.created_at}}</span></div>
					</div>
					{% if post.image %}

					<div class="mt-2">
						<img class="img-fluid" src="{{post.image.url}}">
					</div>
					{% endif %}
					<div class="mt-2">
						<p class="comment-text">{{post.content}}</p>
					</div>
				</div>
				<div class="bg-white">
					<div class="d-flex flex-row fs-12">
						<div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
						
						<div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
					</div>
				</div>

				
			</div>
			<center>
			</center>
			{% render_comments post request %}

		</div>
	</div>
</div>



{% endblock content %}
